# Copy this to .env and set NODE_C_KEY to a generated private key for node C
# Generate a key with:
# python -c "from ylia import crypto; print(crypto.generate_keypair()[0])"
NODE_C_KEY=8ba78934eea47ab99cb42697ea6b254cc79f00bff41a2e2d66da5c20b8cbe271
